.button {
    background-color: $red;
    border-radius: 5px;
    text-align: center;
    color: $white;
    border: 1px solid $red;
    text-decoration: none;
    transition: all 0.3s ease-in-out;

    &:hover {
        color: $red;
        background-color: transparent;
        border: 1px solid $red;
    }

    &--login {
        color: #fff;
        padding: 5px 35px;

        @media all and(max-width: 991px) {
            display: none;
        }
    }

    &--contact {
        padding: 8px 25px;
    }
}