$Montserrat: 'Montserrat',
sans-serif;
$OpenSans: 'Open Sans',
sans-serif;

h1,
.h1 {
    font-size: 32px;
    line-height: 42px;

    @media all and(max-width: 991px) {
        font-size: 26px;
        line-height: 36px;
    }
}

h2,
.h2 {
    position: relative;
    font-size: 26px;
    line-height: 36px;
    padding: 30px 0 10px;

    &:before {
        content: '';
        position: absolute;
        bottom: 0px;
        width: 50px;
        left: 50%;
        transform: translateX(-50%);
        height: 3px;
        background-color: $red;

    }
}

h3,
.h3 {
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
}