* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    padding: 0;
}

body {
    width: 100%;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}

a {
    text-decoration: none;
    outline: none;
    transition: all 0.3s ease-in;

    &:hover,
    &:focus {
        text-decoration: none;
    }
}

a,
p {
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    font-family: $Montserrat;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $OpenSans;
    font-weight: 700;
}

img {
    max-width: 100%;
    height: auto;
}